/* Card.css */
.card-container {
    display: flex;
    padding: 0.5rem;
    border: 1px solid transparent;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 0.5rem;
    cursor: pointer;
  }
  
  .card-container:hover {
    border: 1px solid white;
  }
  
  .card-image {
    min-width: 80px;
  }
  
  .card-details {
    display: grid;
    gap: 0.25rem;
    height: fit-content;
  }
  
  .created-info {
    font-size: 0.75rem;
    color: #a0c4ff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .creator-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .creator-info {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .creator-name {
    padding-left: 0.25rem;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .market-info {
    font-size: 0.75rem;
    color: #8be18b;
    display: flex;
    gap: 0.25rem;
  }
  
  .market-cap {
    color: #8be18b;
  }
  
  .badge img {
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .badge img:hover {
    opacity: 0.7;
  }
  
  .replies-info {
    font-size: 0.75rem;
    color: #e4e4e4;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    word-wrap: break-word;
  }
  